################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APIeCulto
/APIeCulto/bin/Debug/netcoreapp3.1
/APIeCulto/obj
